*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: rgba(20, 20, 20, 0.7);
  background-color: #c5c1c0;
  font-family: "Source Sans Pro", sans-serif;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}
/* Header Styling */
header {
  background: rgba(28, 163, 118, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  margin-top: 0;
}
/* Nav Styling */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}
li {
  cursor: pointer;
  margin-bottom: 0.5em;
}
li span {
  color: rgba(18, 87, 64, 1);
}
li #addNew {
  font-size: 3em;
}

/* Media Quarry for grid template */
@media screen and (min-width: 40em) {
  body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 12em 1fr;
  }
  header {
    grid-column: span 2;
  }
  footer {
    grid-column: span 2;
  }
}

/* Media Quarry for nav styling */
@media screen and (max-width: 40em) {
  ul {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    text-align: center;
  }
}
