*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: rgba(20, 20, 20, 0.7);
  background-color: rgba(197, 193, 192, 0.6);
  font-family: "Source Sans Pro", sans-serif;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}
/* Header Styling */
header {
  background: rgba(28, 163, 118, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  margin-top: 0;
}
/* Nav Styling */
nav {
  padding-left: 2em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  cursor: pointer;
  margin-bottom: 0.5em;
}
li span {
  color: rgba(18, 87, 64, 1);
}
li #addNew {
  font-size: 3em;
}
/* Main Content Styling */
main {
  padding: 0 2em;
}
/* TODO: Remember to add border-left class for each priority levels */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  background: rgba(197, 193, 192, 0.7);
  height: 2.5em;
  border-radius: 0.2em;
  padding: 0 1em;
}
.task-btns {
  padding: 0.4em;
  border-radius: 0.2em;
  border: 0;
  background: whitesmoke;
  color: rgba(18, 87, 64, 1);
}
.task-btns:hover {
  background: rgba(18, 87, 64, 1);
  color: white;
  cursor: pointer;
}

/* Media Quarry for grid template */
@media screen and (min-width: 40em) {
  body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 12em 1fr;
  }
  header {
    grid-column: span 2;
  }
  footer {
    grid-column: span 2;
  }
}

/* Media Quarry for nav styling and main content*/
@media screen and (max-width: 40em) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  h3 {
    text-align: center;
  }
}
